<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome | Dating </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="profilestyle.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col" style="margin-left:350px;">
      <div class="profile-sidebar-portlet">
        <form>
          <div class="profile-userpic">
<!--              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" style="margin-left:0px 0px 30px 30px;"  class="img-responsive" alt="">-->
          </div>
          <div>
              <input type="file" />
              <input type="submit" name="submit" value="Edit Profile Picture" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="margin-left:260px; margin-top:30px;">
      <form>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">First name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" name="firstName">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Last name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" name="firstName">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" name="firstName">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Number</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" name="firstName">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Password</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" name="firstName">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <input type="submit">
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

</body>

</html>
