<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome | Dating </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="profilestyle.css" rel="stylesheet">
</head>

<body>
</div>
<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col" >
      <div class="portlet light profile-sidebar-portlet bordered">
          <div class="profile-userpic" style="margin-left:170px;">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-responsive" alt=""> </div>
          <div class="profile-usertitle">
              <div class="profile-usertitle-name"> Marcus Doe </div>
              <div class="profile-usertitle-job"> Developer </div>
          </div>
          <div class="profile-userbuttons" style="margin-bottom:30px;">
              <button type="button" class="btn btn-info  btn-sm">Matches</button>
              <button type="button" class="btn btn-info  btn-sm">Favorites</button>
              <button type="button" class="btn btn-info  btn-sm">Logout</button>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              Kenneth Valdez
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              fip@jukmuh.al
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              (239) 816-9029
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Mobile</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              (320) 380-4539
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              Bay Area, San Francisco, CA
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
              <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Gallary</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
